
<%= form_with(model: note, local: true) do |f| %>
  <%# Error messages for each %> 
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%# Form for creating notes %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, id: :note_title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, id: :note_description %>
  </p>
  
  <p>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cd| %>
      <% cd.label(class: "checkbox-inline input_checkbox") {cd.check_box(class: "checkbox") + cd.text} %>
    <% end %>
  </p>     
  
  <p>
    <%= f.submit class: "btn btn-info" %>
  </p>
<% end %>
