<div id = "error_msg">
  <h3><%= pluralize(@note.errors.count, "error") if @note.errors.any? %></h3>
  <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>

<div class = "container text-center">
  <div class = "note-edit row note-new">
    <div class = "form col-sm-12">
      <h2>New note</h2>
      <%= form_with(model: @note, local: true) do |f| %>
        <p>
          <%= f.label :title, :class => 'form-inline' %>
          <%= f.text_field :title, id: :note_title, :class => 'form-control' %>
        </p>
        <p>
          <%= f.label :description, :class => 'form-inline' %>
          <%= f.text_area :description, id: :note_description, :class => 'form-control' %>
        </p>
        <p>
          <%= f.submit class: "btn btn-outline-info" %>
        </p>
        <p>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cd| %>
            <% cd.label(class: "checkbox-inline input_checkbox") {cd.check_box(class: "checkbox") + cd.text} %>
          <% end %>
        </p>
      <% end %>
      <p class = "show-back">
        <%= link_to 'Back', notes_path, :class => 'show-btn' %>
      </p>
    </div>
  </div>
</div>