<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @note.user.name %>
</p>


<% if logged_in? && (current_user == @note.user || current_user.admin?) %>
  <%= link_to 'Edit', edit_note_path(@note) %>
  <%= link_to 'Delete', note_path(@note), method: :delete, data: {confirm: "you want to delete this note?"} %>
<% end %>
  <%= link_to 'Back', notes_path %>
