
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <% if @user.image.attached? %>
    <%= image_tag @user.image %>
  <% end %>
</p>

<p>
  <strong><%= link_to 'See all notes', note_path %></strong>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
